@CHARSET "UTF-8";

#container{
	position: absolute;
	width:100%;
	height: 10%;
	background-color:black;
	margin-top:0%;
	margin-left:0%;
	left:0;
	top:0;
}
p{
	text-align: center;
	color: red;
	font-family: Gabriola;
	font-size: 150%;
}
